{% extends 'base.html' %}

{% block content %}
  <section class="gradient-custom">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-xl-10 mx-auto d-flex flex-column h-100">
          <div class="card flex-grow-1">
            <div class="card-body p-5 d-flex flex-column align-items-center">
              <form method="post" class="text-center">
                {% csrf_token %}
                <h2>Are you sure you want to delete "{{ task.name }}"?</h2>
                <div class="d-flex justify-content-center">
                  <input type="submit" value="Confirm" class="btn btn-danger me-2">
                  <a class="btn btn-secondary" href="{% url 'task_manager:tasks-list' %}">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
