{% extends 'base.html' %}

{% block content %}
  <a href="{% url "task_manager:worker-create" %}" class="d-grid gap-2">
    <button class="btn btn-dark" type="button">Create worker</button>
  </a>
  <br>
  <hr>
  <table class="table table-bordered mt-4" id="taskTable">
    <thead>
    <tr class="text-uppercase">
      <th></th>
      <th>Worker</th>
      <th>Position</th>
      <th>Teams</th>
      <th>Projects</th>
      <th>Country</th>
      <th>Phone number</th>
      <th>E-mail</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for worker_info in workers_info %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
          <a href="{% url "task_manager:worker-detail" pk=worker_info.id %}">
            {{ worker_info.first_name }} {{ worker_info.last_name }}
          </a>
        </td>
        <td>{{ worker_info.position }}</td>
        <td>{{ worker_info.teams|join:', '}}</td>
        <td>
          {% if worker_info.projects %}
            {% for project_info in worker_info.projects %}
              {% if project_info.name %}
                <a href="{% url "task_manager:project-detail" pk=project_info.id %}">{{ project_info.name }}</a>
                {% if not forloop.last %}, {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </td>
        <td>{{ worker_info.country }}</td>
        <td>{{ worker_info.phone_number }}</td>
        <td>{{ worker_info.email }}</td>
        <td class="align-middle">
          <a href="{% url "blog:worker-delete" pk=worker_info.id %}">
            <button type="button" class="btn btn-danger btn-sm"><i
                class="bi bi-trash3-fill"></i></button>
          </a>
          <a href="{% url "task_manager:worker-update" pk=worker_info.id %}">
            <button type="button" class="btn btn-dark btn-sm"><i
                class="bi bi-pencil"></i></button>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% load static %}
  <script src="{% static 'js/task_list.js' %}"></script>
{% endblock %}
