<nav id="sidebar">
  <div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
  </div>
  <h1><a href="{% url "task_manager:index" %}" class="logo">Task Manager</a>
  </h1>
  <ul class="list-unstyled components mb-5">
    <li class="">
      <a href="{% url "task_manager:index" %}"><span
          class="bi bi-house-door-fill"></span> Home</a>
    </li>
    <li class="">
      <a href="{% url "task_manager:projects-list" %}"><span class="bi bi-star-fill"></span> Projects</a>
    </li>
    <li class="">
      <a href="#"><span class="bi bi-list-task"></span> Tasks</a>
    </li>
    <li class="">
      <a href="#"><span class="bi bi-people-fill"></span> Workers</a>
    </li>
    <li class="">
      <a href="#"><span class="bi bi-diagram-3-fill"></span> Teams</a>
    </li>
  </ul>
</nav>
