<div class="accordion-item">
  <h2 class="accordion-header" id="flush-heading{{ task.id }}">
    <div class="row">
      <div class="col p-0">
        <div class="accordion-button collapsed"
             type="button"
             style="border-radius: 0; background-color: #FAFAFA"
             data-bs-toggle="collapse"
             data-bs-target="#flush-collapse{{ task.id }}"
             aria-expanded="false"
             aria-controls="flush-collapse{{ task.id }}">
          {% if task.is_complete %}
            <del style="color: darkred"><i class="bi bi-list-task me-2"></i><i
                class="bi bi-check-lg"></i>{{ task.name }}</del>
          {% else %}
            <i class="bi bi-list-task me-2"></i>
            {{ task.name }}
          {% endif %}
        </div>
      </div>
      <div class="col-2 p-0 d-flex align-items-center justify-content-center"
           style="background-color: #FAFAFA">
        <a href="{% url 'task_manager:project-task-delete' project_id=project.id pk=task.id %}"
           class="btn btn-lg">
          <i class="bi bi-x-lg"></i>
        </a>
        <a href="{% url 'task_manager:project-task-update' project_id=project.id task_id=task.id %}"
           class="btn btn-lg">
          <i class="bi bi-pencil"></i>
        </a>
      </div>
    </div>
  </h2>


  <div id="flush-collapse{{ task.id }}" class="accordion-collapse collapse"
       aria-labelledby="flush-heading{{ task.id }}"
       data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <dl class="row">
        <dt class="col-sm-3">Priority</dt>
        <dd class="col-sm-9"><span
            class="badge bg-secondary">{{ task.priority|title }}</span>
        </dd>
        <dt class="col-sm-3">Start time</dt>
        <dd class="col-sm-9"><span
            class="badge bg-secondary">{{ task.start_time }}</span>
        </dd>
        <dt class="col-sm-3">Deadline</dt>
        <dd class="col-sm-9"><span
            class="badge bg-secondary">{{ task.deadline }}</span>
        </dd>
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">{{ task.description }}</dd>
        <dt class="col-sm-3">Task types</dt>
        <dd class="col-sm-9">
          {% for task_type in task.task_types.all %}
            <span
                class="badge bg-dark">{{ task_type.name }}</span>
          {% endfor %}
        </dd>
      </dl>
    </div>
  </div>
</div>
