{% extends 'base.html' %}
{% block content %}

  <br>
  <div class="progress" role="progressbar" aria-label="Warning example"
       aria-valuenow="{{ percent_projects_completed }}" aria-valuemin="0"
       aria-valuemax="100">
    <div class="progress-bar bg-warning text-dark"
         style="width: {{ percent_projects_completed }}%"> {{ percent_projects_completed|floatformat:"0" }}%
      PROJECTS COMPLETED
    </div>
  </div>
<hr>
  <table class="table table-bordered">
    <thead>
    <tr class="text-uppercase">
      <th scope="col"></th>
      <th scope="col">Project</th>
      <th scope="col">Is complete</th>
      <th scope="col">Tasks</th>
      <th scope="col">Deadline</th>
      <th scope="col">Priority</th>
      <th scope="col">Delete project</th>
    </tr>
    </thead>
    <tbody>
    {% for project_info in projects_info %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a
            href="{% url "task_manager:project-detail" pk=project_info.id %}">{{ project_info.project_name }}</a>
        </td>
        <td>
          {% if project_list.forloop.counter0.is_complete %}
            <i class="bi bi-toggle-on"></i>
          {% else %}
            <i class="bi bi-toggle2-off" style="color: #4F6175;"></i>
          {% endif %}
        </td>
        <td>
          {% for task_name, is_complete in project_info.tasks_info %}
            <div>
              {% if is_complete %}
                <del><i class="bi bi-circle-fill"></i> {{ task_name }}</del>
              {% else %}
                <i class="bi bi-circle-fill"></i> {{ task_name }}
              {% endif %}
            </div>
          {% endfor %}
        </td>
        <td>
          {% for deadline in project_info.deadlines %}
            <div>{{ deadline }}</div>
          {% endfor %}
        </td>
        <td>
          {% for priority in project_info.priorities %}
            <div>
              {% if priority == "height" %}
                <span class="badge bg-danger">{{ priority }}</span>
              {% elif priority == "medium" %}
                <span class="badge bg-warning text-dark">{{ priority }}</span>
              {% elif priority == "urgent" %}
                <span class="badge bg-dark">{{ priority }}</span>
              {% else %}
                <span class="badge bg-success">{{ priority }}</span>
              {% endif %}
            </div>
          {% endfor %}
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm">
            <i class="bi bi-trash3-fill"></i> Delete
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
