{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Production Task Manager{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="wrapper d-flex align-items-stretch">

  {% block sidebar %}
    {% include "includes/sidebar.html" %}
  {% endblock %}

  <div id="content" class="p-4 p-md-5 pt-5">
    {% block content %}
    {% endblock %}
    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock %}
  </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>