{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="d-grid gap-2">
      <a href="{% url "task_manager:team-create" %}" class="btn btn-dark">Create
        Team</a>
    </div>
    <hr>
    {% include "includes/search_form.html" %}
    <table class="table table-bordered mt-4" id="taskTable">
      <thead>
      <tr class="text-uppercase">
        <th></th>
        <th>Team</th>
        <th>Projects</th>
        <th>Tasks</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      {% for team_info in teams_info %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>
            <a href="{% url 'task_manager:team-detail' pk=team_info.team_id %}">
              <span class="bi bi-diagram-3-fill"></span>
              {{ team_info.team_name }}
            </a>
          </td>
          <td>
            {% for project_info in team_info.projects %}
              <a href="{% url 'task_manager:project-detail' pk=project_info.project_id %}">
                {{ project_info.project_name }}
              </a><br>
            {% endfor %}
          </td>
          <td>
            {% for project_info in team_info.projects %}
              {% for task_info in project_info.tasks %}
                <a href="{% url 'task_manager:task-detail' pk=task_info.id %}">
                  {{ task_info.name }}
                </a><br>
              {% endfor %}
            {% endfor %}
          </td>
          <td class="align-middle">
            <a href="{% url 'task_manager:team-update' pk=team_info.team_id %}"
               class="btn btn-dark btn-sm" title="Edit">
              <i class="bi bi-pencil"></i>
            </a>
            <a href="{% url 'task_manager:team-delete' pk=team_info.team_id %}"
               class="btn btn-danger btn-sm" title="Delete">
              <i class="bi bi-trash3-fill"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% load static %}
  <script src="{% static 'js/task_list.js' %}"></script>
{% endblock %}
